h1{
	font-family: Verdana, "Verdana Neue", sans-serif;
	color: #A19F9F; 
}

table, td{
	border: none;
}

h3{
	font-family: Verdana, "Verdana Neue", sans-serif;
	color: #F36F72
}

h2{
	font-family: Verdana, "Verdana Neue", sans-serif;
	color: #F36F72
}

p{
	font-family: Trebuchet, "Trebuchet MS", sans-serif;
	color: #242120; font-size: 18px;
}

h4{
	font-family: Verdana, "Verdana Neue", sans-serif;
	color: #A19F9F; font-size: 20px;
}

h6{
	font-family: Trebuchet, "Trebuchet MS", sans-serif;
	color: #A19F9F; font-size: 20px;
}






